body {
	background-image:url('images/cakes.jpg');
	background-size: cover;	

	font-family: sans-serif;
	margin: 0;
	padding: 0;
  }
  .container{
   display:grid ;
   align-items: center;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap:5px ;
  }

  img {
	
	max-width:100%;
	max-height:100%;
  }
  
  .text {
	font-size:50px;
	font-family: cursive;

	
  }
  
  
  header {
	background-color: black;
	color: #fff;
	padding: 20px;
  }
  
  nav {
	float: right;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  nav a:hover {
	color: #ddd;
  }
  
  section {
	padding: 20px;
  }
  
  h1 {
	font-size: 2em;
  }
  
  p {
	font-size: 1em;
  }
  
  a.btn {
	background-color: #000;;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
  }
  
  a.btn:hover {
	background-color: #ddd;
  }
  
  footer {
	background-color: black;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
